/* succes msg */
#lead_status p { padding: 15px; font-weight: bold; font-family: arial,verdana,sans-serif; font-size: 14px; margin-top: 0; background: #55a049; color: #fff }

/* error msg */
.lead_error { background: #900 !important; }

/* lead form */
#lead_form,
#lead_form_header { margin-bottom: 20px; position: relative }
#lead_form_header h2,
#lead_form h3 { margin: 0; text-align: left }

#lead_form fieldset { padding: 15px; border: 1px solid #ccc; background: #fff; width: 90%; margin: 0 0 20px }
#lead_form #form-buttons,
#lead_form.contact #form-buttons { background: transparent !important; border: none }
#lead_form legend { padding: 2px 10px; background: #ececec }

#lead_form ul { list-style: none; margin: 0; padding: 0 }
#lead_form li { width: auto !important; margin: 0; padding: 6px 1% 9px 1%; clear: both; background-color: transparent; position: relative; overflow: hidden; border-bottom: 1px dotted #ccc;
	-webkit-transition: background-color 350ms ease-out;
	-moz-transition: background-color 350ms ease-out;
	-o-transition: background-color 350ms ease-out;
	transition: background-color 350ms ease-out; 
}

#lead_form li div label, 
#lead_form li span label { margin: 0 0 10px 0; padding-top: 3px; clear: both; line-height: 160%; color: #444; display: block; font-size: 95% }

/* For fields with radio options that also use labels. */
#lead_form li div label.unstyled,
#lead_form li span label.unstyled {
    margin: 0;
    padding: 0;
    clear: both;
    line-height: inherit;
    color: inherit;
    display: inline;
    font-size: inherit;
}

#lead_form label.desc { font-weight: bold; color: #222; line-height: 150%; margin: 0; padding: 0 0 3px 0; border: none; display: block; white-space: normal; width: 100%; }
#lead_form label.desc.left { width: auto; margin: 0 10px 0 0 }
#lead_form li span { margin: 0 1.5em 0 0; padding: 0; color: #444; float: left; width: 25% }
#lead_form li div span.full { margin: 0; float: none }
#lead_form.contact li span.left { width: 47%; margin-right: 1em }

#lead_form input[type="text"],
#lead_form select,
#lead_form textarea { 
	border-top: 1px solid #aaa; border-left: 1px solid #C3C3C3; border-right: 1px solid #C3C3C3; border-bottom: 1px solid #DDD; background: url(/dcm-images/components/default/leads/fieldbg.gif) repeat-x top #fcfcfc; padding: 5px 8px; width: 98%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#lead_form .full input[type="text"], #lead_form textarea { width: 79% }
#lead_form .left input[type="text"] { width: 90%; }

#lead_form input[type="submit"],
#lead_form input[type="button"] {
	display: inline-block; padding: 8px 30px; color: #fff; font-family: arial, sans-serif; text-decoration: none; position: relative; cursor: pointer; margin: 0 10px 2px 0; background:#666; border-bottom: 1px solid rgba(51,51,51,0.25);
	border-radius: 5px;
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
}

#contact_hldr input[type="button"] { padding: 5px 10px; float: right; margin-right: 35px }
#offer_hldr input[type="button"] { padding: 5px 10px; float: right }

#lead_form input[type="text"]:hover,
#lead_form select:hover,
#lead_form textarea:hover { border: 1px solid #a1a1a1 }

#lead_form input[type="reset"] { padding: 8px 2px 1px; cursor: pointer; border-bottom: 1px solid; background: none; color: #999 }
#lead_form input[type="submit"]:hover,
#lead_form input[type="button"]:hover { background: #333 }
#lead_form input[type="reset"]:hover { color: #333 }

#lead_form input:focus,
#lead_form select:focus,
#lead_form textarea:focus { outline: thin solid #333 !important; border-color: #333 }

#lead_form .note { margin: 0 0 20px 0; background: #efefef !important; padding: 10px; overflow: hidden }
#lead_form .radio label { width: auto; display: inherit; padding: 0 }
#lead_form .radio { width: auto; margin-right: 10px; float: none }
#lead_form .radio input[type="radio"] { margin-top: -3px }

#lead_form .date-picker,
#lead_form .appointment-time { width: 24% !important; margin-right: 5px }
#lead_form .one-line img { margin: 3px 10px 0 0; float: left }

#lead_form .ui-datepicker-trigger { cursor: pointer }

#lead_form .highlight { background-color: rgba(255,255,221, 0.5) }
#lead_form .left { float: left }
#lead_form .right { float: right }

/* GENERAL CONTACT FORM LEAD STYLES */
.contact-form{width:49%; float:left; height:auto;}
.contact-map{width:49%; float:right; height:auto;}
#lead_form.contact li { padding: 10px }
#lead_form.contact li span { width: 48% }
#lead_form.contact textarea { width: 96% }
#lead_form.contact input[type="button"] { padding: 5px 10px }
#lead_form.contact li div label, 
#lead_form.contact li span label,
#lead_form.contact label.desc,
#lead_form.contact li span,
#lead_form.contact .characters, 
#lead_form.contact .characters input { color: inherit }

/*MAX CHAR STYLES */
.characters{font-size:11px; font-style:italic; margin:5px 0px 10px 0; color: #666}
.characters input{font-weight:bold; font-size:11px; border:0 !important; background: none !important; padding: 0 !important; width:23px !important; margin: 0 0 0 2px !important; color: #666 }

/*----------------------------
	DCM2 form styles END 
------------------------------ */

* { border: none;  }
img { border: none !important }

.req::after { content: '* '; color: red; padding-left: 5px; font-weight: bold }

/* fallback placeholder */
.placeholder { color: #bbb; }
::-webkit-input-placeholder { color: #bbb; }
:-moz-placeholder { color: #bbb; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden; } 
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }
/* Fix IE. Hide from IE Mac \*/
/* * html ul li { float: left; }*/
* html ul li a { height: 1%; } /* End */