html{font-size:62.5%;}
body{font-family: 'proxima-nova', sans-serif;font-weight:normal;font-size:14px;font-size:1.4rem;}
.logo{font-size:36px; color:#000;  font-family: "proxima-nova"; font-weight:100; margin:0;}.logo a{text-decoration:none;text-transform:uppercase}.logo a:link{color:#000;}.logo a:active{color:#000;}.logo a:visited{color:#000;}.logo a:hover{color:#000;}
.partof{text-transform:uppercase;letter-spacing:2px;margin-left:2px;}
.partof a{text-decoration:none;color:#e31320;}
#navigation-bar{width:100%;background:#000;}
.nissan-logo{width:105px !important;}
.header-contact-info{text-align:right;font-size:14px;font-size:1.4rem;line-height:22px;padding-top:10px;}
.m10{margin-top:10px;}.m20{margin-top:20px;}.pb60{padding-bottom:60px;}
.contact-details{line-height:22px;}

/* Navigation */
nav{height:40px;position:relative;z-index:999;font:400 16px/49px 'proxima-nova',sans-serif}
#nav li{float:left;position:relative;}
#nav a{color:#fff;display:block;text-decoration:none;padding:0 52px;}
#nav a:hover{text-decoration:none;color:#fff;background:#c3021c;}

h1{color:#c3021c;font-size:36px;font-size:3.6rem;font-weight:400;margin-bottom:15px;}
h2{color:#c3021c;font-size:33px;font-size:3.3rem;font-weight:400;margin-bottom:15px;}
h3{color:#c3021c;font-size:25px;font-size:2.5rem;font-weight:400;margin-bottom:5px;}
p{margin:0 0 1.5em;line-height:19px;}

.grid_4 img{width: 229px;}
.grid_4 p{text-transform: uppercase;}


.table1 {background: #ccc;border-collapse: collapse;}
.table1 td {padding:8px; border: 1px solid #eee;}
.tr1 {background: #c3021c !important;color: #fff;}
.tr1 td{text-align:center;}
.td1 {background: #a5a4a4;}

.large-price{font-weight:bold;color:#000;font-size:21px;}
.vehicle-promo-title{font-weight:bold;color:#c61633;font-size:26px;margin-bottom:10px;}

.nissan-special-offers p {text-transform: uppercase;}